[submodule "002_profession/eightsix/wiki"]
	path = 002_profession/eightsix/wiki
	url = https://github.com/eightsixscience/wiki.git
[submodule "004_subsidiary/synconetics/wiki"]
	path = 004_subsidiary/synconetics/wiki
	url = https://github.com/synconeticsorg/wiki.git
