[submodule "002_profession/eightsix-science/shared"]
	path = 002_profession/eightsix-science/shared
	url = https://github.com/eightsixscience/notes.git
[submodule "004_subsidiary/synconetics/shared"]
	path = 004_subsidiary/synconetics/shared
	url = https://github.com/synconeticsorg/notes.git
